<%- include("./partials/head") %>

<sui-navigation>
	<h2>Not Found</h2>
	<%- include("./partials/nav-avatar"); %>
</sui-navigation>

<sui-contents class="padded">
	<p><%= message %></p>
</sui-contents>

<%- include("./partials/foot") %>
