<%- include("./partials/head") %>

<sui-navigation>
	<h2>Home</h2>
	<%- include("./partials/nav-avatar"); %>
</sui-navigation>

<sui-contents class="padded">
	Hello world
</sui-contents>

<%- include("./partials/foot") %>